<?xml version="1.0" encoding="UTF-8" ?>
<widget
	xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap   = "http://phonegap.com/ns/1.0"
	id          = "uk.org.nornet.app"
	version     = "1.2.4"
	android-versionCode="14"
	>
	<preference name="android-minSdkVersion"  value="12" />
	<preference name="android-targetSdkVersion"  value="28" />

	<!-- App Details That Are Shown on the iOS App Store -->
	<name>NNN</name>

	<description>
		Information about the Northern Neonatal Network of hospitals. This app includes information for families of premature and sick babies, with key information about each hospital and unit available.
	</description>

	<!-- Set Author of Application -->
	<author href="http://www.clicky.co.uk" email="josh@clicky.co.uk">
	  Clicky Media
	</author>

	<preference name="orientation" value="portrait"/><!-- Set Default Orientation -->
	<preference name="target-device" value="universal"/><!-- Set Device Targeting -->
	<preference name="fullscreen" value="true"/><!-- Remove Status Bar for Android and Less Than iOS 7 -->
	<!-- <preference name="disable-cursor" value="true"/>Disable Cursor -->
	<preference name="android-installLocation" value="auto"/><!-- Set Android Additonal Properties -->
	<preference name="DisallowOverscroll" value="true"/><!-- Stop Overscrolling on Application -->
	<preference name="webviewbounce" value="false"/><!-- Stop Screen Bounce on Scroll -->

	<!-- Install InAppBrowser Plugin (Set Versions to Disallow Updates Which May Render Differently) -->
	<!-- <gap:plugin name="org.apache.cordova.inappbrowser" version="3.1.0" /> -->
	<!-- <plugin name="cordova-plugin-inappbrowser" version="3.1.0"  /> -->

	<!-- Install Status Bar Control Plugin - Removes Status Bar in iOS 7 (Set Versions to Disallow Updates Which May Render Differently) -->
	<plugin name="cordova-plugin-statusbar" />
	<preference name="StatusBarOverlaysWebView" value="false" />

	<!-- Set WildCard Permissions - App Has Every Permission -->
	<access origin="*" />
	<preference name="permissions" value="none"/>

	<splash src="splash.png" />
	<splash src="resources/splash/ios/Default.png" width="320" height="480" />
	<splash src="resources/splash/ios/Default_at_2x.png" width="640" height="960" />
	<splash src="resources/splash/ios/Default_iphone5.png" width="640" height="1136" />
	<splash src="resources/splash/ios/Default-Landscape.png" width="1024" height="768" />
	<splash src="resources/splash/ios/Default-Portrait.png" width="768" height="1024" />

	<!-- IOS Settings -->
	<platform name="ios">
		<icon src="resources/Icon-40.png" width="40" height="40" />
		<icon src="resources/Icon.png" width="57" height="57" />
		<icon src="resources/Icon-72.png" width="72" height="72" />
		<icon src="resources/Icon@2x.png" width="114" height="114" />
		<icon src="resources/Icon-72@2x.png" width="144" height="144" />
		<icon src="resources/Icon-76.png" width="76" height="76" />
		<icon src="resources/Icon-120.png" width="120" height="120" />
		<icon src="resources/Icon-152.png" width="152" height="152" />
		<custom-config-file mode="replace" parent="UISupportedInterfaceOrientations" platform="ios" target="*-Info.plist">
			<array>
				<string>UIInterfaceOrientationLandscapeOmg</string>
			</array>
		</custom-config-file>
		<custom-config-file parent="UIStatusBarHidden" target="*-Info.plist">
			<true/>
		</custom-config-file>
		<custom-config-file parent="UIViewControllerBasedStatusBarAppearance" target="*-Info.plist">
			<false/>
		</custom-config-file>
	</platform>

</widget>
